@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hides scrollbar but allows swiping */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}